---
layout: site
---

<div class="container blog">
  <section>
    <div class="row">
      {% for post in paginator.posts %}
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <a href="{{ post.url }}">
          <div class="card card-deck-6">
            {% if post.image %}
            <img src="{{ post.image | image_src }}?w=450&h=250&fit=crop&crop=faces" class="card-img-top img-fluid"
              alt="{{ post.title }}" data-rjs="2" />
            {% else %}
            <img src="https://yellow-blog-images.imgix.net/post-image-default.jpg?w=450&h=250&fit=crop&crop=faces"
              class="card-img-top img-fluid w-100" alt="{{ post.title }}" data-rjs="2" />
            {% endif %}
            <div class="card-block pl-0">
              <h6 class="card-title">{{ post.title }}</h6>
              <p class="card-date">{{ post.date | date:"%B %e, %Y" }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

<!-- PAGINATION -->

<div class="container blog-nav">
  <div class="row">
    <div class="col">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="btn btn-outline-primary">
        <i class="fa fa-lg fa-caret-left" aria-hidden="true"></i> Older
      </a>
      {% endif %} &nbsp; {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="btn btn-outline-primary">
        Newer <i class="fa fa-lg fa-caret-right" aria-hidden="true"></i>
      </a>
      {% endif %}
    </div>
  </div>
</div>
