.blog {
  .blog-feature {
    .card-deck-blog > .card > .card-category {
      top: -26px;
      margin-bottom: -20px;
    }
  }
}

.blog-nav {
  .btn-outline-primary {
    font-family: Karla, sans-serif;
    border: 0 !important;
  }
}
